<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffTe</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-slide.css">
    <link rel="stylesheet" href="/css/styles-navbar.css">
    <link rel="stylesheet" href="/css/styles-index.css">

</head>
<body>
    <!-- INCLUDE HEADER -->
    <%- include('./partials/header')  %>

    <main>
        <section>
            <!-- <h2>Productos</h2> -->
            <div class="products">                
                
                <article class="article-products-seccion">
                    <div class="product-section">
                        
                        <a href="/product/list-products?type=café">
                            <img src="/images/coffee-g0459fe78a_500x500.jpg" alt="">
                            <h3>Café</h3>
                            <p class="product-section-title">Café</p>
                        </a>
                        
                    </div>
                </article>

                <article class="article-products-seccion">
                    <div class="product-section">
                        <a href="/product/list-products?type=te">
                            <img src="/images/herbal-tea-g041759343_500x500.jpg" alt="">
                            <h3>Té</h3>
                            <p class="product-section-title">Té</p>
                        </a>
                    </div>
                </article>

                <article class="article-products-seccion">
                    <div class="product-section">
                        <a href="/product/list-products?type=insumos">
                            <img src="/images/cup-of-tea-g4cf6758b1_500x500.jpg" alt="">
                            <h3>Insumos</h3>
                            <p class="product-section-title">Insumos</p>
                        </a>
                    </div>
                </article>
                
            </div>
        </section>
        <section>
            <h2>Destacados</h2>
            <div class="products">                
                <!-- Consulta todos los productos destacados type=mas-vendido -->
                <% products.forEach(product => { 
                    if(product.type === 'mas-vendido') {   
                %>
                    <article class="article-products">
                        <div class="coffee">
                            <a href="/product/product-details/<%= product.id %>">
                                <div class="div-img-bag">
                                    <img src="/images/<%= product.image %>" alt="">
                                    <a href="/product/product-cart/<%= product.id %>"><div class="div-bag"><i class="fas fa-cart-plus"></i></div></a>
                                </div>
                                <div class="div-price">
                                    <!-- Se valida si el producto tiene descuento -->
                                    <% if (product.discount != 0 && product.discount != undefined) { 
                                        let priceDiscount =  product.price - ((product.discount / 100) * product.price)
                                        priceDiscount = Math.round(priceDiscount)
                                    %>
                                        <p class="price-discount">$ <%= product.price %></p>
                                        <p class="price">$ <%= priceDiscount %></p>                      
                                        <p class="discount"><%= product.discount %>%</p>
                                    <% }else{ %>
                                        <p class="price">$ <%= product.price %></p>
                                    <% } %>
                                </div>
                                <div class="popular-products">
                                    <h3 class="title-product"><%= product.name %></h3>
                                    <p class="description-product tooltiptext"><%= product.description %></p>
                                </div>
                            </a>
                        </div>
                    </article>
                <%  }}) %>
            </div>
        </section>
        <section>
            <h1>¿Quienes somos?</h1>
            <p class="p-about-us">Lorem ipsum dolor sit amet consectetur adipisicing elit. At unde velit minus quas incidunt nihil, a non voluptate. Corrupti eaque iste amet, fugit dignissimos vitae quaerat nisi dolorem minima culpa quasi totam porro aspernatur neque asperiores mollitia. Praesentium, maiores beatae!</p>
        </section>
    </main>
    
    <!-- INCLUDE FOOTER -->
    <%- include('./partials/footer')  %>
</body>
</html>