<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-index.css" />
    <link rel="stylesheet" href="/css/styles-navbar.css" />
    <link rel="stylesheet" href="/css/syles-register.css" />

    <title>Registro</title>
    <script type="text/javascript"
        src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=aY5KtKlmBR0gND7I0TBx-oCsoIvjgFsK8c64nc8ZGAmgs_h0ZcnbV_cp_7ODG3UnIqQHGuzGCZZTnIe3Y08SvIKLfplSQ2QyTk82Mdk2ILMc4gQTWb6bHz2uhrCw5wNmyJzgCZ4ILHCPNLrJRP50nY8EQpzvDX9heLg6Iwqxxzv6zsnsXOcADNFdvQUvvQ_UD_P2kv9ylvbrF6tRtygFmvWPfWVEimG8Nn1vEAPhZdYTQbgmAv_giU-mnCsbY3IqhTk48qdPoHbG92UmVt9ubmrvw_iBU3Uj-sCRCNutfCIe1ov1kiqyB1K5_0PqzXPusCninwUFf0eLcNXBps6TC17PQu6eO-4WYXAgP5pmkAYiU3HiiAdjA7THM1aLaGOI6gVkpzoHOGj1gZuXj3RvNpzyfU7d_aWuN-k9WABWQ_Y75ZhV63DoFWJtVHmxcWF9junmnMXtxl5Wgjn4-5KAtSFFHgy7Aju_hPV0yBV_5XfrHYLd30v-YpABlXc6wtM3MQ21quFI9E0MmbqK8cLNA-YjesxCV1rYktHHsECpcu_avh_If2v5oDoJjr4SivvgSPwASfw25_QgUJXh_sgz2ooDHbxvPYILeT5-97MfDhgtDG3WSjXTKxkFYsevdy9nqyME4USOBe-G2kt_3UeSJDH2X6gwi88M6s74E9GlJ6dy_NPQdBqTOwo_k9MK-FHBGpj1leEkKDFHT_q7SsQq41suQrJrpfmlS7Gmj8Gdo1dl7QnJ0-lngbG3FPZeOsB6JkzUGqrhHWgNcn9xLeXN8S9tYsxhC0rpIkzD2guR5a0e2KONXAClLoRI-uh4QwRsNTkzqA4NzF_C1KzHbjH-00-7Urmst8me-rXP9wDJxRdHlu2IxseX8C2BEU-1makdRAbLTQ51aMneHp-XxquWuHKwACmrMkSi4IwnH9DqIKnyIx4Nu6xpksJb5DWhcjjXO2UA7T2atgyfig4b2iBLeRTRZSLvrksvWQwdV1ch8qVsqE_NM1GFp9DYP834asNThgo3drBYMHMaAWOnVBQY0dnHElOeoNuD8XyjQNDBd-1xXLOchO8wisNl1_GU4viFsPtGnjlXDYr1AY8pW8_is4RyhQ6ZSRzuWN2-iNAhir9ehGgZzdbmXu9VuVQtHAvycM2rD6KS4Rrmjr6mex-dNzAnD2n3jFNu4_-3LLUvshBtqLYNRxwEVlPQznGNBvZWv681Hoqbeodz2DiQhHSv9ERMHyKwTmnpz2qqs9WtjaVvpIT1kX09Aj9bNTG7pyRH_-FGPHpeY2XP2NA_TY5fiJGoNIc8R-EkF6pTo9OS11R3fuWIrxx8feqIGTTGYMkaFX4-etRzSztgwLOPwbnDNMNVaDuPo82HiiLCYFEnQ-pS4RibNbPcMglP8rSgyqIS-G1W19sC01GB3O55xs1LzljT4OexUkv0ghTyk3JY1btASHJZh0g3Q93vlKxOnS6SvRJw645FZyTqHk8GcCZfNuXQBV5n9xeF_8vvdY17jpafyWPeeKoSKcJEHUCWxqLSmRg4wNel98ojIXZQlL-Xb8ofnVQZ8-6Bqsbwk2wheTJNn5_TbruC-AbDqAc5uVXns3Q7wA3HmXrrWO7pBXVmIqg0pa0MoodUvNI-rKEWT_wbr9OzDQDR_ykp62AhRotUtbn3HCmAtkCk1ARy0uMLbeFaMrONDMho93RoFtF9mdCyMxAoYQG-1j9UiXr3To7mY4Po_UK5tJ1JJxvfBmWi8OvRPpOIeDLimdNqBCpoLojk4TN71G2e9xWPx5_YcSAYRTunVqZUtfm7Y_iRUPUkOXeDRLPoQWMHahQM8B9XFPIbaz3NnaZ5qeRFLLq19khgA3EBy_2MHRZYqjVz5QYef6FMPeN8sN_C_J6Qms7vh-iXUYW0vWFmuykVCg5wEgLT6Y83ianC6m-X-6wPFVKIz_IF5ai7RIDdToJ5Pr2VjThqZutZXwDCCdid4wyHnmqm7iXAWNSfxtxjQXO-PNo8ork6N5r0SRF-V8WnSRnj2t3bQtrLWiMzJ-aaFbwHjUHrVJHY2imGB2-JTE4RehPUWMrvIR3Y_Jkxd2njlt1_iBmGU2Sx7672gM8-vRwnZOSrhgcAdTMV801mAN594sy8YmckFhaR5g_w-lG2XXOoBVtYXAH6OoWR6i9PdUoWpdsR5WLSZtNVTxY9XUxwTaT7AT7O4ndAmz_AhtXhSw4HgRj89CrTsC3qwBGd1l2ZwJP-l5JL58VENKKn6a3zF0LiHKXeNn1YuKxDUqorcpz-nZ7hQlUnK6MseuzfWsfNQEqHtZVYweZVmoSqpT3vNyBR37uNy6cm64RSZS27p4kPTvHvwtc1GoemFqVSqE1_R74JKdkuGtJ7CZU7lV2TTQrGMhZUEaOVCpuQm-nVdzdDSUqWpYdWfXaIJ71k6RMoPMLXPMLD3IY4Wd3Uql1uYDznKw"
        charset="UTF-8"></script>
    <link rel="stylesheet" crossorigin="anonymous"
        href="https://ff.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9hdHRhY2htZW50cy5vZmZpY2UubmV0L293YS9qdWFuLnRhdXRpdmElNDBtZWRlbGxpbi5nb3YuY28vc2VydmljZS5zdmMvcy9HZXRGaWxlQXR0YWNobWVudD9pZD1BQU1rQURjeVptSTVOV1ZpTFRNNU9UUXROREU1TmkxaVpEQTRMV1ZqWmpjek1ETm1ZMkkxWXdCR0FBQUFBQUFtdFdBUTY4cmVUNXRsSjYzSkpCRlVCd0JYekdCa0hCWFRUWkNuNVdJZUx0Q0ZBTng0UzRvRkFBRDlURUV4MlhjUFFvRiUyYllVSGdkYWUlMmJBQUdDNmozSkFBQUJFZ0FRQURPeU9OY1VPOTFCclNZR1E3dlphVzglM2QmdG9rZW49ZXlKaGJHY2lPaUpTVXpJMU5pSXNJbXRwWkNJNklqTXdPREUzT1VORk5VWTBRalV5UlRjNFFqSkVRamc1TmpaQ1FVWTBSVU5ETXpjeU4wRkZSVVVpTENKMGVYQWlPaUpLVjFRaUxDSjROWFFpT2lKTlNVWTFlbXc1VEZWMVpVeE1ZbWxYWVRZNVQzcEVZMjV5ZFRRaWZRLmV5SnZjbWxuYVc0aU9pSm9kSFJ3Y3pvdkwyOTFkR3h2YjJzdWIyWm1hV05sTG1OdmJTSXNJblZqSWpvaVlqSm1OekpqTlRjNE1UVTJORFZpTXpsbU5UUTJPRGN3TlRjeE4yWmtPV01pTENKMlpYSWlPaUpGZUdOb1lXNW5aUzVEWVd4c1ltRmpheTVXTVNJc0ltRndjR04wZUhObGJtUmxjaUk2SWs5M1lVUnZkMjVzYjJGa1FEbGpORGhsTURnNExUVmxORFF0TkdJd1pDMDVNMkV3TFdWbFlqSmpOakV5TjJNelpDSXNJbWx6YzNKcGJtY2lPaUpYVnlJc0ltRndjR04wZUNJNkludGNJbTF6WlhoamFIQnliM1JjSWpwY0ltOTNZVndpTEZ3aWNIVnBaRndpT2x3aU1URTFNemd3TVRFeE5qVXpOak0xTWpBNU5Gd2lMRndpYzJOdmNHVmNJanBjSWs5M1lVUnZkMjVzYjJGa1hDSXNYQ0p2YVdSY0lqcGNJbVJoTnpZM01XRm1MVEV6TURZdE5EQTBZUzFpWlRKbUxXTTNZekUxT1dFd1ltUTBNVndpTEZ3aWNISnBiV0Z5ZVhOcFpGd2lPbHdpVXkweExUVXRNakV0TVRVek5URXpOemt5TWkweU56RXlNamd4TXpZd0xUTTJPRFl6TURNMU1UZ3RNVEU1TmpjNE5EaGNJbjBpTENKdVltWWlPakUyTXpVeE1qRTNPVFlzSW1WNGNDSTZNVFl6TlRFeU1qTTVOaXdpYVhOeklqb2lNREF3TURBd01ESXRNREF3TUMwd1ptWXhMV05sTURBdE1EQXdNREF3TURBd01EQXdRRGxqTkRobE1EZzRMVFZsTkRRdE5HSXdaQzA1TTJFd0xXVmxZakpqTmpFeU4yTXpaQ0lzSW1GMVpDSTZJakF3TURBd01EQXlMVEF3TURBdE1HWm1NUzFqWlRBd0xUQXdNREF3TURBd01EQXdNQzloZEhSaFkyaHRaVzUwY3k1dlptWnBZMlV1Ym1WMFFEbGpORGhsTURnNExUVmxORFF0TkdJd1pDMDVNMkV3TFdWbFlqSmpOakV5TjJNelpDSXNJbWhoY0hBaU9pSnZkMkVpZlEuSm9GQnJpSEJNYnd1ZG1EN3dZd2pzOXVQems4cEx0dnlWUjBuSkx5a0JiUXFDN1doaGppcDNNdHE2aGhmR1BxbkVHR2dzSmRsbGh0Zl9lOWpjRmFjZzNYRmdDclhEREVTZGJzbmM1UmhaMlFsdmZ3TDZhRmJ6Y294cDE4azI4TlJnN2FHS04zZTkzNDVmX1l2OHViQU5vRGxCeU5TamdWQ29fUndXTmczT3BVSG05UFpVa3pSRTR3OGlLQmFsb29zR1Y3Qkc4MmpvVF85QUNjQVdhLVhfemk4Zm1hUkFDSTUtQm9XV1NrT2trTC1SNE9YZl9teHBsSklhOFN5SHNSdkkyQzU5NXd4eHRTT21teEduN2EzN3RuVHNVMkNoeHNncm1UZ0doN2NqdFFBQXdTNWZ6MjBUNVNBRHpWT2RpMkFMdGRqYm1RTVdGWHVYMkc0VHpsbDZ3JlgtT1dBLUNBTkFSWT1JNl96MnhGdTdrZUI2UWR4Z0lTM3V0QXFwNVJPbDlrWWI5bDRnemtjNlVSYWtxMFZ6Nmg3THFCOWFHNlQyRWpmOE9BOFVyQW9lWHcuJm93YT1vdXRsb29rLm9mZmljZS5jb20mc2NyaXB0VmVyPTIwMjExMDE4MDAxLjAzJmlzRG93bmxvYWQ9dHJ1ZSZhbmltYXRpb249dHJ1ZQ" />
</head>

<body>
    <!-- INCLUDE HEADER -->
    <%- include('../partials/header') %>

        <main>

            <form action="/user/edit/<%= locals.oldData ? oldData.id_users : null %>?_method=PUT" method="POST"
                id="form" enctype="multipart/form-data">
                <div class="form">
                    <h1>Actualizar Información</h1>
                    <div class="grupo">
                        <span class="barra">
                            <ul class="ul-errors">

                            </ul>
                        </span>
                    </div>
                    <div class="grupo">
                        <input type="text" name="first_name" id="first_name"
                            value="<%= locals.oldData ? oldData.first_name : null %>" />
                        <% if (locals.errors && errors.first_name) { %>
                            <span class="barra">
                                <%= errors.first_name.msg %>
                            </span>
                            <% } %>
                                <label for="nombre">Nombre</label>
                    </div>
                    <div class="grupo">
                        <input type="text" name="last_name" id="last_name"
                            value="<%= locals.oldData ? oldData.last_name : null %>" />
                        <% if (locals.errors && errors.last_name) { %>
                            <span class="barra">
                                <%= errors.last_name.msg %>
                            </span>
                            <% } %>
                                <label for="">Apellido</label>
                    </div>
                    <div class="grupo">
                        <input type="email" name="email" id="email"
                            value="<%= locals.oldData ? oldData.email : null %>" />
                        <% if (locals.errors && errors.email) { %>
                            <span class="barra">
                                <%= errors.email.msg %>
                            </span>
                            <% } %>
                                <label for="">Email</label>
                    </div>
                    <div class="grupo">
                        <input type="password" name="password" id="password" />
                        <% if (locals.errors && errors.password) { %>
                            <span class="barra">
                                <%= errors.password.msg %>
                            </span>
                            <% } %>
                                <label for="n">Contraseña</label>
                    </div>
                    <div class="grupo">
                        <input type="password" name="secondPassword" id="secondPassword" />
                        <% if (locals.errors && errors.secondPassword) { %>
                            <span class="barra">
                                <%= errors.secondPassword.msg %>
                            </span>
                            <% } %>
                                <label for="">Repetir Contraseña</label>
                    </div>
                    <div class="grupo">
                        <input type="text" name="province" id="province"
                            value="<%= locals.oldData ? oldData.province : null %>" />
                        <% if (locals.errors && errors.province) { %>
                            <span class="barra">
                                <%= errors.province.msg %>
                            </span>
                            <% } %>
                                <label for="">Provincia</label>
                    </div>
                    <div class="grupo">
                        <input type="text" name="location" id="location"
                            value="<%= locals.oldData ? oldData.location : null %>" />
                        <% if (locals.errors && errors.location) { %>
                            <span class="barra">
                                <%= errors.location.msg %>
                            </span>
                            <% } %>
                                <label for="">Localidad</label>
                    </div>

                    <div class="grupo">
                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' name="avatar" id="avatar"
                                onchange="readURL(this);" accept="image/*"
                                value="<%= locals.oldData ? oldData.avatar : null %>" />
                            <div class="drag-text">
                                <h3>Arrastra o selecciona una imagen</h3>
                            </div>
                        </div>
                        <% if (locals.errors && errors.avatar) { %>
                            <span class="barra">
                                <%= errors.avatar.msg %>
                            </span>
                            <% } %>
                    </div>
                    <div class="grupo">
                        <input type="text" name="street" id="street"
                            value="<%= locals.oldData ? oldData.street : null %>" />
                        <% if (locals.errors && errors.street) { %>
                            <span class="barra">
                                <%= errors.street.msg %>
                            </span>
                            <% } %>
                                <label for="">Calle - altura</label>
                    </div>
                    <input type="hidden" name="profile" id="profile"
                        value="<%= locals.oldData ? oldData.id_profile : null %>" />

                    <button class="register-button" type="submit">Actualizar</button>
                </div>
            </form>
        </main>
        <script src="/js/validationUser.js"></script>
        <!-- INCLUDE FOOTER -->
        <%- include('../partials/footer') %>
</body>

</html>