<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles-header.css">
  <link rel="stylesheet" href="/css/styles-index.css" />
  <link rel="stylesheet" href="/css/styles-navbar.css" />
  <link rel="stylesheet" href="/css/styles-myProducts.css" />
  <title>Mis productos</title>
</head>

<body>
  <!-- INCLUDE HEADER -->
  <%- include('../partials/header') %>

    <main>
      <div class="productsBox">
        <form class="myProducts" method="POST" action="/product/edit/<%= product.id_products %>?_method=PUT"
          enctype="multipart/form-data">
          <h1>Edición de producto</h1>
          <label>Nombre de mi producto:</label>
          <input type="text" name="name" class="myProducts" value="<%= product.name %>"
            placeholder="Café Colina Grano 454g Juan Valdez" />
          <% if (locals.errors && errors.name) { %>
            <span class="barra">
              <%= errors.name.msg %>
            </span>
            <% } %>
              <br />

              <label>Descripcion:</label>
              <input type="text" name="description" class="myProducts" value="<%= product.description %>"
                placeholder="Cafe descafeinado con un gusto especial a vainilla" />
              <br />

              <label>Pone la imagen de tu producto aquí</label>
              <input class="fyle" type="file" accept=".jpg, .png, .jpeg, .svg" name="image" id="image"
                class="myProducts" />

              <br />

              <label>Categoría:</label>

              <div class="radio">
                <% category.forEach(categoryRow=> { %>
                  <input type="radio" id="<%= categoryRow.name %>" value="<%= categoryRow.id_category_product %>"
                    name="category" class="myProducts" <%=categoryRow.id_category_product==product.id_category_product
                    ? 'checked' : null %>
                  />
                  <label for="<%= categoryRow.name %>">
                    <%= categoryRow.description %>
                  </label>
                  <% }) %>
              </div>

              <label>Precio:</label>
              <input class="price" type="text" value="<%=product.price%>" name="price" placeholder="$200" />
              <br />

              <label>Descuento:</label>
              <input class="discount" type="text" value="<%= product.discount %>" name="discount" placeholder="20%" />
              <br />

              <label>Tipo de producto</label>
              <div class="radio">
                <% type.forEach(typeRow=> { console.log('Tipo ', product.id_type_product)%>
                  <input type="radio" id="<%= typeRow.name %>" value="<%= typeRow.id_type_product %>" name="type"
                    class="myProducts" <%=typeRow.id_type_product==product.id_type_product ? 'checked' : null %>
                  />
                  <label for="<%= typeRow.name %>">
                    <%= typeRow.description %>
                  </label>
                  <% }) %>
              </div>

              <button type="submit">Guardar producto</button>
              <br />
        </form>
      </div>
    </main>
    <!-- INCLUDE FOOTER -->
    <%- include('../partials/footer') %>
</body>

</html>