<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffTe</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto+Mono:wght@100&display=swap"
        rel="stylesheet">
    
        <link rel="stylesheet" href="/css/styles-header.css">
        <link rel="stylesheet" href="/css/styles-slide.css">
        <link rel="stylesheet" href="/css/styles-navbar.css">
        <link rel="stylesheet" href="/css/styles-list-product.css">
        <link rel="stylesheet" href="/css/styles-index.css">

</head>

<body>
    <!-- INCLUDE HEADER -->
    <%- include('../partials/header') %>

        <main>
            <section>
                <div class="destacados">
                    <h2 id="destacados">
                        <%= locals.typeProduct ? locals.typeProduct : 'todos' %>
                    </h2>
                </div>

                <div class="products">
                    <!-- Consulta todos los productos destacados type=mas-vendido -->
                    <% products.forEach(product=> { %>
                        <article class="article-products">
                            <div class="coffee div-product">
                                <div class="div-edit"><a href="/product/edit/<%= product.id_products %>"><i
                                            class="fas fa-edit"></i></a></div>
                                <a href="/product/product-details/<%= product.id_products %>">
                                    <div class="div-img-bag">
                                        <img src="/images/<%= product.image %>" alt="">
                                    </div>
                                    <div class="div-price">
                                        <!-- Se valida si el producto tiene descuento -->
                                        <% if (product.discount !=0 && product.discount !=undefined) { let
                                            priceDiscount=product.price - ((product.discount / 100) * product.price)
                                            priceDiscount=Math.round(priceDiscount) %>
                                            <p class="price-discount">$ <%= product.price %>
                                            </p>
                                            <p class="price">$ <%= priceDiscount %>
                                            </p>
                                            <div class="div-discount">
                                                <p class="discount">
                                                    <%= product.discount %>%
                                                </p>
                                            </div>
                                            <% }else{ %>
                                                <p class="price">$ <%= product.price %>
                                                </p>
                                                <% } %>

                                    </div>
                                    <div class="popular-products">
                                        <h3 class="title-product">
                                            <%= product.name %>
                                        </h3>
                                        
                                        <a href="/product/product-details/<%= product.id_products %>">
                                            <div class="div-bag">¡Comprar ya!<i class="fas fa-cart-plus"></i></div>
                                        </a>
                                        <p class="description-product tooltiptext">
                                            <%= //product.description %>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </article>
                        <% }) %>
                </div>
            </section>
        </main>

        <!-- INCLUDE FOOTER -->
        <%- include('../partials/footer') %>
</body>

</html>