<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-index.css">
    <link rel="stylesheet" href="/css/styles-productDetails.css">
    
    <title>Productos</title>
</head>

<body>

    <!-- INCLUDE HEADER -->
    <%- include('../partials/header')  %>

    <main>
        <section>
            <article>    
                <div class="product-details">    
                    <h2>Visualizando el producto: <%= product.name %></h2>
                                       
                    <div class="div-price">
                        <img class="foto-article" src="/images/<%= product.image %>" alt="Café Colombia Molido">
                        <div class="block-description">
                            <h1 class="titulo"><%= product.name %></h1>
                            <p class="price">$ <%= product.price %></p>
                            <p class="discount">% <%= product.discount %></p>
                            <p class="price-discount">$ Precio con Oferta</p>
                        </div>
                        <p class="p"><%= product.description %></p>
                    </div>
                    
                    <div class="carrito">
                        <a href="./product-cart"><i class="fas fa-cart-plus"></i></a>
                    </div>
                    
                </div>
                <div class="div-button">
                    
                    <a href="/product/edit/<%= product.id %>"><input type="submit" value="Editar"></a>    
                    
                    <form class="form-delete" action="">
                        <input type="submit" value="Eliminar">
                    </form>
                </div>
                
            </article>
        </section> 
    </main>

    <!-- INCLUDE FOOTER -->
    <%- include('../partials/footer')  %>

</body>

</html>